<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">BOOKS CATALOGUE API</h1>
        <p class="lead">BooksCatalogue API is a service that provides an online database set of books and their relevant information</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>Use the API hooks to retrieve the data of all books within the database</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Add Your favourite Books</h2>
            <p>You can easily find a book from this API.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
        </section>>
    </div>
</main>